@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model HalloDoc.Entity.AdminTab.SheetPayrateModel;

<div class="d-flex w-100 justify-content-center pb-4">
    <div class="HContainer m-auto">
        <div class="d-flex justify-content-end">
            <a class="btn w-5 btn-info rounded bg-transparent m-2 text-info" asp-controller="AdminTab" asp-action="Invoice">
                <strong class="pe-2">&lt Back</strong>
            </a>
        </div>

        <div class="rounded shadow p-4 mb-5 bg-body-tertiary">
            <form id="WeekSheetSubmit">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="table-secondary">
                            <tr>
                                <th scope="col"> Date </th>
                                <th scope="col"> On-call Hours </th>
                                <th scope="col"> Total Hours </th>
                                <th scope="col"> Weekend/ Holiday</th>
                                <th scope="col"> Number of Housecall </th>
                                <th scope="col"> Number of Phone Consult</th>
                                 @if (Context.Request.Cookies["CookieRole"] == "1")
                                {
                                    <th scope="col"> Total </th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.providerweeklysheets.Count == 0)
                            {
                                int lastDate = DateTime.DaysInMonth(DateTime.Now.Year, @ViewBag.month);
                                @if (ViewBag.period == 1)
                                {
                                    @for (var i = 1; i <= 15; i++)
                                    {
                                        <tr>
                                            <td> @ViewBag.month.ToString("00")/@i.ToString("00")/@System.DateTime.Now.Date.ToString("yyyy")</td>
                                            <td>0</td>
                                            <td><input type="number" class="form-control" value="0" /></td>
                                            <td><input type="checkbox" class="form-check-input checkboxClass mt-2" /></td>
                                            <td><input type="number" class="form-control" /></td>
                                            <td><input type="number" class="form-control" /></td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    @for (var i = 16; i <= lastDate; i++)
                                    {
                                        <tr>
                                            <td> @ViewBag.month.ToString("00")/@i.ToString("00")/@System.DateTime.Now.Date.ToString("yyyy")</td>
                                            <td>0</td>
                                            <td><input type="number" class="form-control" value="0" /></td>
                                            <td><input type="checkbox" class="form-check-input checkboxClass mt-2" /></td>
                                            <td><input type="number" class="form-control" /></td>
                                            <td><input type="number" class="form-control" /></td>
                                        </tr>
                                    }
                                }
                            }
                            else
                            {
                                @foreach (var item in Model.providerweeklysheets)
                                {
                                    <tr>
                                        <td>@item.Weekdate.Value.ToString("MM")/@item.Weekdate.Value.ToString("dd")/@item.Weekdate.Value.ToString("yyyy")</td>
                                        <td>0</td>
                                        <td><input type="number" class="form-control tHours" value="@item.Totalhours" /></td>
                                        <td><input type="checkbox" class="form-check-input checkboxClass sholiday mt-2" @(item.Isholiday.HasValue && item.Isholiday.Value ? "checked" : "") /></td>
                                        <td><input type="number" class="form-control shousecall" value="@item.Housecall" /></td>
                                        <td><input type="number" class="form-control sconsult" value="@item.Consult" /></td>
                                        <td></td>
                                    </tr>
                                }
                                @if (Context.Request.Cookies["CookieRole"] == "1")
                                {
                                    <tr>
                                        <td>Payrate</td>
                                        <td></td>
                                        <td><input type="number" class="form-control shift_payrate" disabled value="@Model.Providerpayrate.Shift" /></td>
                                        <td><input type="number" class="form-control shiftNW_payrate" disabled value="@Model.Providerpayrate.NightshiftWeekend" /></td>
                                        <td><input type="number" class="form-control shiftHC_payrate" disabled value="@Model.Providerpayrate.Housecalls" /></td>
                                        <td><input type="number" class="form-control shiftPC_payrate" disabled value="@Model.Providerpayrate.Phoneconsults" /></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Invoice Total</td>
                                        <td></td>
                                        <td><input type="number" class="form-control Invoice_Total_thours" disabled /></td>
                                        <td><input type="number" class="form-control Invoice_Total_tholiday" disabled /></td>
                                        <td><input type="number" class="form-control Invoice_Total_thousecall" disabled /></td>
                                        <td><input type="number" class="form-control Invoice_Total_tconsult" disabled /></td>
                                        <td><input type="number" class="form-control Invoice_full_Total" disabled /></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-info text-light subBtn" data-phid="@ViewBag.phyid">Submit</button>
                </div>
            </form>
        </div>
        <button type="button" class="btn btn-info text-light addRecpt">Add Recipts</button>
        <div id="ReciptPartial"></div>
        @if (Context.Request.Cookies["CookieRole"] == "2")
        {
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-info text-light toFinalize">Finalize</button>
            </div>
        }
        @if (Context.Request.Cookies["CookieRole"] == "1")
        {
            <div class="d-flex justify-content-end">
                <div class="col-md-2 form-floating me-2">
                    <input type="number" class="form-control bg-transparent bonusAmnt" placeholder="bonus">
                    <label> Bonus Amount</label>
                </div>
                <div class="col-md-2 form-floating me-2">
                    <input type="text" class="form-control bg-transparent adminDesc" placeholder="desc">
                    <label> Admin Description </label>
                </div>
                <button type="button" class="btn btn-info text-light toApprove"> Approve </button>
            </div>
        }

    </div>
</div>


@if (Context.Request.Cookies["CookieRole"] == "1")
{
    <script>
        $(document).ready(function () {
            var totalHours = 0;
            var totalhosecall = 0;
            var totalconsult = 0;
            var totalholiday = 0;
            $('.tHours').each(function () {
                totalHours += parseFloat($(this).val()) || 0;
            });
            $('.sholiday').each(function () {
                totalholiday += $(this).prop('checked') ? 1 : 0;
            });
            $('.shousecall').each(function () {
                totalhosecall += parseFloat($(this).val()) || 0;
            });
            $('.sconsult').each(function () {
                totalconsult += parseFloat($(this).val()) || 0;
            });
            $('.Invoice_Total_thours').val($('.shift_payrate').val()*totalHours);
            $('.Invoice_Total_tholiday').val($('.shiftNW_payrate').val() * totalholiday);
            $('.Invoice_Total_thousecall').val($('.shiftHC_payrate').val() * totalhosecall);
            $('.Invoice_Total_tconsult').val($('.shiftPC_payrate').val() * totalconsult);
            $('.Invoice_full_Total').val(parseFloat($('.Invoice_Total_thours').val()) + parseFloat($('.Invoice_Total_tholiday').val()) + parseFloat($('.Invoice_Total_thousecall').val()) + parseFloat($('.Invoice_Total_tconsult').val()));
        });
    </script>
}


<script asp-append-version="true">
    var period = @ViewBag.period;
    var phid = $('.subBtn').data('phid');
    var month = @ViewBag.month;
    var isContentAdded = false;

    $('.addRecpt').click(function () {
        isContentAdded = !isContentAdded;
        $(this).text(isContentAdded ? 'Remove Receipt' : 'Add Receipt');

        if (isContentAdded) {
            $.ajax({
                url: '/AdminTab/AddRecipt',
                method: 'POST',
                data: { period: period, month: month, phid: phid },
                success: function (response) {
                    $('#ReciptPartial').html(response);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        } else {
            $('#ReciptPartial').html('');
        }
    });

    $('.toFinalize').click(function () {
        $.ajax({
            url: '/AdminTab/sheetFinalize',
            method: 'POST',
            data: { period: period, month: month, phid: phid },
            success: function (response) {
                window.location.reload();
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    });

    $('.toApprove').click(function(){
        var desc = $('.adminDesc').val();
        var bonus = $('.bonusAmnt').val();
        $.ajax({
            url: '/AdminTab/sheetApprove',
            method: 'POST',
            data: { period: period, month: month, phid: phid, desc: desc, bonus: bonus },
            success: function (response) {
                window.location.reload();
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    });

    $('#WeekSheetSubmit').submit(function (e) {
        e.preventDefault();
        var weeklyData = [];
        $('table:first tbody tr').each(function (index) {
            if (@Context.Request.Cookies["CookieRole"] == "1" && index >= $('table:first tbody tr').length - 2) {
                return; 
            }
            var rowData = {
                date: $(this).find('td:first-child').text(),
                isHoliday: $(this).find('td:nth-child(4) input').prop('checked') ? true : false,
                Totalhours: $(this).find('td:nth-child(3) input').val(),
                housecall: $(this).find('td:nth-child(5) input').val(),
                consult: $(this).find('td:nth-child(6) input').val()
            };
            weeklyData.push(rowData);
        });
        $.ajax({
            url: '/AdminTab/WeekSheetSave',
            method: 'POST',
            data: { weeklyData: weeklyData, phid: phid, period: period },
            success: function (response) {
                Swal.fire({
                    title: "Shift Saved !",
                    icon: "success"
                });
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    })
</script>