@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<HalloDoc.Entity.Models.Blockrequest>;

@{
    Layout = "";
}

<div class="table-responsive">
    <table class="table">
        <thead class="table-secondary">
            <tr>
                <th scope="col"> Patient Name </th>
                <th scope="col">Phone Number </th>
                <th scope="col">Email</th>
                <th scope="col">Created Date <i class="bi bi-arrow-down ms-1"> </i> </th>
                <th scope="col">Notes</th>
                <th scope="col">is Active</th>
                <th scope="col" class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td> @item.Request.Requestclients.FirstOrDefault().Firstname @item.Request.Requestclients.FirstOrDefault().Lastname</td>
                    <td> @item.Request.Requestclients.FirstOrDefault().Phonenumber </td>
                    <td> @item.Request.Requestclients.FirstOrDefault().Email </td>
                    <td> @item.Createddate </td>
                    <td>test</td>
                    <td>
                        <input name="checkActive" class="form-check-input"  @(item.Isactive[0] ? "checked" : "") type="checkbox" value="">
                    </td>
                    <td class="text-center">
                        <a class="btn btn-outline-info ps-2 pe-2 p-0 unblockClick" data-blockid="@item.Requestid">
                            Unblock
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


                   
<script asp-append-version="true">

    $('.unblockClick').click(function () {
        var reqid = $(this).data('blockid');
        $.ajax({
            url: '/AdminTab/BlockDataUnblock',
            method: 'POST',
            data: { reqid: reqid },
            success: function (response) {
                $.ajax({
                    url: '/AdminTab/BlockData',
                    method: 'GET',
                    success: function (response) {
                        window.location.reload();
                    },
                    error: function (xhr, status, error) {
                        if (xhr["status"] == 401) {
                            window.location.href = "/Patient/PatientLogin";
                        } else {
                            console.error(xhr.responseText)
                        }
                    }
                });
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    });
</script>