

.
.@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model HalloDoc.Entity.AdminTab.PhysicianProfileViewModel;


<div class="HContainer m-auto">
    <div class="d-flex justify-content-between mt-4">
        <h4>Crearte Provider Account</h4>
        <a class="btn w-5 btn-info rounded bg-transparent m-2 text-info" asp-controller="AdminTab" asp-action="Provider">
            <strong class="pe-2">&lt Back</strong>
        </a>
    </div>

    <form class="phydata" asp-action="AddNewProvider" asp-controller="AdminTab" method="post" enctype="multipart/form-data">
        <div class="rounded shadow p-4 mb-5 bg-body-tertiary rounded">
            <div class="mb-4">
                <p class="Addmsg text-center"></p>
                <h5>Account Information</h5>
                <div class="row form-floating">
                    <div class="col-md-4 form-floating mt-2">
                        <input type="text" class="form-control" placeholder="username" asp-for="physician.Aspnetuser.Username" disabled>
                        <label class="ms-3">User Name (MD.Lastname.F)</label>
                    </div>
                    <div class="col-md-4 form-floating mt-2">
                        <input type="password" class="form-control bg-transparent pass" placeholder="pass" asp-for="PhysicianCustom.Password">
                        <label class="ms-3">Password</label>
                        <span asp-validation-for="PhysicianCustom.Password" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 form-floating mt-2">
                        <input type="hidden" id="Hiderole" asp-for="physician.Roleid" value="3" />
                        <select class="form-select bg-transparent" aria-label="Floating label select example" onchange="updateRoleId(this)">
                            <option disabled>Select Role</option>
                            @foreach(var role in Model.Roles)
                            {
                                <option value="@role.Roleid">@role.Name</option>
                            }
                        </select>
                        <label class="ms-2" for="floatingSelect">Role</label>
                    </div>
                </div>
            </div>

            <div class="mt-4 mb-4">
                <h5>Physician Information</h5>
                <input type="text" class="form-control bg-transparent d-none" placeholder="firstNmae" asp-for="PhysicianCustom.Physicianid">
                <div class="row form-floating">
                    <div class="col-md-6 form-floating mt-2">
                        <input type="text" class="form-control bg-transparent AdIn fname" placeholder="firstNmae" asp-for="PhysicianCustom.Firstname">
                        <label class="ms-3">First Name</label>
                        <span asp-validation-for="PhysicianCustom.Firstname" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 form-floating mt-2">
                        <input type="text" class="form-control bg-transparent AdIn" placeholder="lastname" asp-for="PhysicianCustom.Lastname">
                        <label class="ms-3">Last Name</label>
                        <span asp-validation-for="PhysicianCustom.Lastname" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 form-floating mt-2">
                        <input type="email" class="form-control bg-transparent" id="email" placeholder="email" asp-for="PhysicianCustom.Email">
                        <label class="ms-3">Email</label>
                        <span asp-validation-for="PhysicianCustom.Email" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 form-floating mt-2">
                        <input type="number" id="phone1" class="form-control bg-transparent AdIn" style="height:58px" asp-for="PhysicianCustom.Mobile" />
                        <span asp-validation-for="PhysicianCustom.Mobile" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 form-floating mt-2">
                        <input type="text" class="form-control bg-transparent AdIn" placeholder="licence" asp-for="PhysicianCustom.Medicallicense">
                        <label class="ms-3">Medical Licencse</label>
                    </div>
                    <div class="col-md-6 form-floating mt-2">
                        <input type="text" class="form-control bg-transparent AdIn" placeholder="npi" asp-for="PhysicianCustom.Npinumber">
                        <label class="ms-3">NPI Number</label>
                    </div>
                    <div class="col-md-6 form-floating mt-2">
                        @foreach (var reg in Model.Regions)
                        {
                            <div class="form-check form-check-inline">
                                <input name="checkReg" class="form-check-input AdIn checkb" type="checkbox" value="@reg.Regionid">
                                <label>@reg.Name</label>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="mt-5 mb-4">
                <h5>Mailing & Billing Information</h5>
                <div class="row form-floating">
                    <div class="col-md-6 form-floating mt-2">
                        <input type="text" class="form-control bg-transparent Adad" placeholder="add1" asp-for="physician.Address1">
                        <label class="ms-3">Address 1</label>
                    </div>
                    <div class="col-md-6 form-floating mt-2">   
                        <input type="text" class="form-control bg-transparent Adad" placeholder="add2" asp-for="physician.Address2">
                        <label class="ms-3">Address 2</label>
                    </div>
                    <div class="col-md-6 form-floating mt-2 ">
                        <input type="text" class="form-control bg-transparent Adad" placeholder="city" asp-for="physician.City">
                        <label class="ms-3">City</label>
                    </div>
                    <div class="col-md-6 form-floating mt-2">
                        <input type="hidden" asp-for="physician.Regionid" id="regionIdHidden" value="1" />
                        <select class="form-select selectReg" aria-label="Floating label select" onchange="updateRegionId(this)">
                            @foreach (var state in Model.Regions)
                            {
                                <option value="@state.Regionid">@state.Name</option>
                            }
                        </select>
                        <label class="ms-2" for="floatingSelect">state</label>
                    </div>
                    <div class="col-md-6 form-floating mt-2">
                        <input type="text" maxlength="6" class="form-control bg-transparent Adad" placeholder="zipCode" asp-for="physician.Zip">
                        <label class="ms-3">Zip Code</label>
                    </div>
                    <div class="col-md-6 form-floating mt-2">
                        <input type="text" id="phone2" class="form-control bg-transparent Adad" style="height:58px" asp-for="physician.Altphone" />
                    </div>
                </div>
            </div>

            <div class="mt-4 mb-4">
                <h5>Provider Profile</h5>
                <div class="row form-floating">
                    <div class="col-md-6 form-floating mt-2">
                        <input type="text" class="form-control bg-transparent phybn edi3" placeholder="firstNmae" asp-for="physician.Businessname">
                        <label class="ms-3">Bussiness Name</label>
                    </div>
                    <div class="col-md-6 form-floating mt-2">
                        <input type="Email" class="form-control bg-transparent phybw edi3" placeholder="lastname" asp-for="physician.Businesswebsite">
                        <label class="ms-3">Bussiness Website</label>
                    </div>
                    <div class="col-md-6 form-floating mt-2">
                        <div class="d-flex m-auto">
                            <div class="p-0 w-100">
                                <input type="text" class="form-control bg-transparent sfile" id="selectedFile" placeholder="Select Photo" disabled>
                                <label class="ms-3"></label>
                            </div>
                            <div>
                                <label class="btn btn-outline-info d-flex">
                                    <input type="file" class="uploadPhoto fileUplod" style="display: none;" id="FileInput" name="Photo">
                                    <i class="bi bi-cloud-arrow-up border-info"></i>
                                    <span class="upload_txt ms-2 edi3">Upload</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-floating">
                    <textarea type="text" class="form-control bg-transparent h-25 phyAdmNote"
                              placeholder="Detail info" rows="3" asp-for="physician.Adminnotes"></textarea>
                    <label for="ms-3 text-info">Admin Notes</label>
                </div>
            </div>

            <hr />

            <h5>Onboarding</h5>
            <table class="w-50">
                <tr>
                    <td>
                        <input class="form-check-input AgreeCheck ms-2" type="checkbox" disabled />
                    </td>
                    <td>
                        <p class="ms-3 me-2 my-auto">Independent Contractor Agreement</p>
                    </td>
                    <td>
                        <span>
                            <label class="btn btn-info pt-0 pb-0">
                                <input type="file" class="AgreeFile fileUplod" style="display: none;" id="FileInput1" name="ContractorAgreement">
                                <span class="upload_txt text-light edi3">Upload</span>
                            </label>
                        </span>
                    </td>
                    <td>
                        <button type="button" class="btn btn-info pt-0 pb-0 text-light viewBtn1 d-none" onclick="loadFileContent1()"> View </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="form-check-input BackCheck ms-2" type="checkbox" disabled />
                    </td>
                    <td>
                        <p class="ms-3 me-2 my-auto">Background Check</p>
                    </td>
                    <td>
                        <span>
                            <label class="btn btn-info pt-0 pb-0">
                                <input type="file" class="BackFile fileUplod" style="display: none;" id="FileInput2" name="Background">
                                <span class="upload_txt text-light edi3">Upload</span>
                            </label>
                        </span>
                    </td>
                    <td>
                        <button type="button" class="btn btn-info pt-0 pb-0 text-light viewBtn2 d-none" onclick="loadFileContent2()"> View </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="form-check-input HIPAACheck ms-2" type="checkbox" disabled />
                    </td>
                    <td>
                        <p class="ms-3 me-2 my-auto">HIPAA Compliance</p>
                    </td>
                    <td>
                        <span>
                            <label class="btn btn-info pt-0 pb-0">
                                <input type="file" class="HIPAAFile fileUplod" style="display: none;" id="FileInput3" name="HIPAA">
                                <span class="upload_txt text-light edi3">Upload</span>
                            </label>
                        </span>
                    </td>
                    <td>
                        <button type="button" class="btn btn-info pt-0 pb-0 text-light viewBtn3 d-none" onclick="loadFileContent3()"> View </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="form-check-input DiscCheck ms-2" type="checkbox" disabled />
                    </td>
                    <td>
                        <p class="ms-3 me-2 my-auto">Non-discloure Agreement</p>

                    </td>
                    <td>
                        <span>
                            <label class="btn btn-info pt-0 pb-0">
                                <input type="file" class="DiscFile fileUplod" style="display: none;" id="FileInput4" name="discloure">
                                <span class="upload_txt text-light edi3">Upload</span>
                            </label>
                        </span>
                    </td>
                    <td>
                        <button type="button" class="btn btn-info pt-0 pb-0 text-light viewBtn4 d-none" onclick="loadFileContent4()"> View </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="form-check-input LicCheck ms-2" type="checkbox" disabled />
                    </td>
                    <td>
                        <p class="ms-3 me-2 my-auto">License Document</p>

                    </td>
                    <td>
                        <span>
                            <label class="btn btn-info pt-0 pb-0">
                                <input type="file" class="LicFile fileUplod" style="display: none;" id="FileInput5" name="License">
                                <span class="upload_txt text-light edi3">Upload</span>
                            </label>
                        </span>
                    </td>
                    <td>
                        <button type="button" class="btn btn-info pt-0 pb-0 text-light viewBtn5 d-none" onclick="loadFileContent5()"> View </button>
                    </td>
                </tr>
            </table>

            <hr />

            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-success text-light createPhy">Create Account</button>
            </div>

        </div>
    </form>
</div>


<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/contact-api.js" asp-append-version="true"></script>
<script asp-append-version="true">
    let cflag = document.querySelectorAll('.iti--allow-dropdown');
    cflag.forEach(item => {
        item.classList.add('h-75');
    })
    document.getElementById('FileInput').addEventListener('change', function () {
        document.getElementById('selectedFile').value = this.files[0].name;
    })

    function updateRoleId(selectElement) {
        const selectedroleId = selectElement.value;
        document.getElementById('Hiderole').value = selectedroleId;
    }
    function updateRegionId(selectElement) {
        const selectedRegionId = selectElement.value;
        document.getElementById('regionIdHidden').value = selectedRegionId;
    }

    $('.AgreeFile').change(function () {
        if ($(this).val() !== '') {
            $('.AgreeCheck').prop('checked', true);
            $('.AgreeCheck').prop('disabled', false);
            $('.viewBtn1').removeClass('d-none');
        }
    });
    function loadFileContent1() {
        const fileInput = document.getElementById('FileInput1');
        const file = fileInput.files[0];
        if (file) {
            const objectUrl = URL.createObjectURL(file);
            window.open(objectUrl, '_blank');
        } else {
            alert('No file selected.');
        }
    }

    $('.BackFile').change(function () {
        if ($(this).val() !== '') {
            $('.BackCheck').prop('checked', true);
            $('.BackCheck').prop('disabled', false);
            $('.viewBtn2').removeClass('d-none');
        }
    });
    function loadFileContent2() {
        const fileInput = document.getElementById('FileInput2');
        const file = fileInput.files[0];
        if (file) {
            const objectUrl = URL.createObjectURL(file);
            window.open(objectUrl, '_blank');
        } else {
            alert('No file selected.');
        }
    }

    $('.HIPAAFile').change(function () {
        if ($(this).val() !== '') {
            $('.HIPAACheck').prop('checked', true);
            $('.HIPAACheck').prop('disabled', false);
            $('.viewBtn3').removeClass('d-none');
        }
    });
    function loadFileContent3() {
        const fileInput = document.getElementById('FileInput3');
        const file = fileInput.files[0];
        if (file) {
            const objectUrl = URL.createObjectURL(file);
            window.open(objectUrl, '_blank');
        } else {
            alert('No file selected.');
        }
    }

    $('.DiscFile').change(function () {
        if ($(this).val() !== '') {
            $('.DiscCheck').prop('checked', true);
            $('.DiscCheck').prop('disabled', false);
            $('.viewBtn4').removeClass('d-none');
        }
    });
    function loadFileContent4() {
        const fileInput = document.getElementById('FileInput4');
        const file = fileInput.files[0];
        if (file) {
            const objectUrl = URL.createObjectURL(file);
            window.open(objectUrl, '_blank');
        } else {
            alert('No file selected.');
        }
    }

    $('.LicFile').change(function () {
        if ($(this).val() !== '') {
            $('.LicCheck').prop('checked', true);
            $('.LicCheck').prop('disabled', false);
            $('.viewBtn5').removeClass('d-none');
        }
    });
    function loadFileContent5() {
        const fileInput = document.getElementById('FileInput5');
        const file = fileInput.files[0];
        if (file) {
            const objectUrl = URL.createObjectURL(file);
            window.open(objectUrl, '_blank');
        } else {
            alert('No file selected.');
        }
    }

</script>
