@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<HalloDoc.Entity.Models.User>;

@{
    Layout = "";
}

<div class="table-responsive">
    <table class="table">
        <thead class="table-secondary">
            <tr>
                <th scope="col"> First Name </th>
                <th scope="col"> Last Name </th>
                <th scope="col"> Email </th>
                <th scope="col"> Phone Number </th>
                <th scope="col"> Address </th>
                <th scope="col" class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Firstname</td>
                    <td>@item.Lastname</td>
                    <td>@item.Email</td>
                    <td>@item.Mobile</td>
                    <td> - </td>
                    <td class="text-center">
                        <a class="btn btn-outline-info ps-2 pe-2 p-0 Explorebtn" data-id="@item.Userid">
                            Explore
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<nav aria-label="Page navigation example">
    <div class="d-flex  justify-content-between">
        <span id="CurrentPage">Page : 1</span>
        <ul class="pagination d-flex  me-3 pb-2">

            @for (int i = 1; i <= ViewBag.TPage; i++)
            {
                <li class="page-item">
                    <div class="page-link" data-page="@(i - 1)">
                        @i
                    </div>
                </li>
            }
        </ul>
    </div>
</nav>



<script asp-append-version="true">
    $('.Explorebtn').click(function (){
        var userId = $(this).data('id');
        $.ajax({
            type: 'POST',
            url: '/AdminTab/PatientRecord',
            data: { userId: userId },
            success: function (response) {
                $('.HistoryMain').remove();
                $('.PRocordTable').html(response);
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    });
</script>