@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<HalloDoc.Entity.Models.Request>;

@{
    Layout = "";
}


<div class="table-responsive">
    <table class="table">
        <thead class="table-secondary">
            <tr>
                <th scope="col"> Patient Name </th>
                <th scope="col"> Requestor </th>
                <th scope="col"> Date Of Service </th>
                <th scope="col"> Close Case Date <i class="bi bi-arrow-down ms-1"> </th>
                <th scope="col"> Email </th>
                <th scope="col"> Phone Number </th>
                <th scope="col"> Address </th>
                <th scope="col"> Zip </th>
                <th scope="col"> Request Status </th>
                <th scope="col"> Physician </th>
                <th scope="col"> Physician Note </th>
                <th scope="col"> Cancelled By Provider Note </th>
                <th scope="col"> Admin Note </th>
                <th scope="col"> Patient Note </th>
                <th scope="col">Delete Permanently</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Requestclients.FirstOrDefault().Firstname @item.Requestclients.FirstOrDefault().Lastname</td>
                    <td> @Enum.GetName(typeof(HalloEnum.repestType), item.Requesttypeid) </td>
                    <td>@item.Createddate.Date.ToString("MMM dd, yyyy")</td>
                    <td>54</td>
                    <td>@item.Requestclients.FirstOrDefault().Email</td>
                    <td>@item.Requestclients.FirstOrDefault().Phonenumber</td>
                    <td>@item.Requestclients.FirstOrDefault().Street</td>
                    <td>@item.Requestclients.FirstOrDefault().Zipcode</td>
                    <td> @Enum.GetName(typeof(HalloEnum.DashName), item.Status)</td>
                    @if (item.Physician != null)
                    {
                        <td>@item.Physician.Firstname @item.Physician.Lastname</td>
                    }
                    else
                    {
                        <td>-</td>
                    }
                    <td>@(item.Requestnotes.LastOrDefault()?.Physiciannotes ?? "-")</td>
                    <td>@(item.Requeststatuslogs.Where(x => x.Status == 3).LastOrDefault()?.Notes ?? "-")</td>
                    <td>@(item.Requestnotes.LastOrDefault()?.Adminnotes ?? "-")</td>
                    <td>@(item.Requestclients.FirstOrDefault()?.Notes ?? "-")</td>
                    <td class="text-center">
                        <a class="btn btn-outline-info ps-2 pe-2 p-0 deleteBtn" data-id="@item.Requestid">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<nav aria-label="Page navigation example">
    <div class="d-flex  justify-content-between">
        <span id="CurrentPage">Page : 1</span>
        <ul class="pagination d-flex  me-3 pb-2">

            @for (int i = 1; i <= ViewBag.TPage; i++)
            {
                <li class="page-item">
                    <div class="page-link" data-page="@(i - 1)">
                        @i
                    </div>
                </li>
            }
        </ul>
    </div>
</nav>

<script asp-append-version="true">
    $('.deleteBtn').click(function () {
        var reqId = $(this).data('id');
        $.ajax({
            url: '/AdminTab/DeleteRequest',
            method: 'POST',
            data: { reqId: reqId},
            success: function (response) {
                window.location.reload();
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    });
</script>
