@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<HalloDoc.Entity.Models.Smslog>;

@{
    Layout = "";
}


<div class="table-responsive">
    <table class="table">
        <thead class="table-secondary">
            <tr>
                <th scope="col"> Recipient </th>
                <th scope="col"> Action </th>
                <th scope="col"> Role Name </th>
                <th scope="col"> Mobile Number </th>
                <th scope="col"> Created Date <i class="bi bi-arrow-down ms-1"></i> </th>
                <th scope="col"> Sent Date</th>
                <th scope="col"> Sent </th>
                <th scope="col"> Sent Tries </th>
                <th scope="col"> Confirmation Number </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var log in Model)
                {
                    <tr>
                        <td>
                            @if (log.Requestid == null)
                            {
                                <span>-</span>
                            }
                            else
                            {
                                @log.Request.Firstname @log.Request.Lastname
                            }
                        </td>
                        <td> -  </td>
                        <td> @Enum.GetName(typeof(HalloEnum.HalloMainRole), @log.Roleid) </td>
                        <td>@log.Mobilenumber</td>
                        <td>@log.Createdate.Date.ToString("MMM dd, yyyy")</td>
                        <td>@log.Sentdate.Value.Date.ToString("MMM dd, yyyy")</td>
                        <td>
                            @if (log.Issmssent != null)
                            {
                                <span>Yes</span>
                            }
                            else
                            {
                                <span>No</span>
                            }
                        </td>
                        <td>
                            @log.Senttries
                        </td>
                        <td> - </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>