@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Invoice";
    Layout = "~/Views/Shared/_LayoutDashbord.cshtml";
    DateTime startDate = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 15);
    DateTime endDate = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.DaysInMonth(DateTime.Now.Year, DateTime.Now.Month));
}
@model List<HalloDoc.Entity.AdminTab.phyCustomNameViewModel>;


<link rel="stylesheet" href="~/css/Dashbord.css" asp-append-version="true" />



<div class="MainContent pt-0 min-vh-100">
    <partial name="partial/AdminNavTab" />

    <div class="d-flex w-100 MainInvoice justify-content-center pb-4">
        <div class="HContainer m-auto">
            <div class="d-flex justify-content-between align-items-center">
                <h4> Timesheets</h4>
                <a class="btn w-5 btn-info rounded bg-transparent m-2 text-info" asp-controller="AdminDash" asp-action="Dashbord">
                    <strong class="pe-2">&lt Back</strong>
                </a>
            </div>

            <div class="rounded shadow p-4 mb-5 bg-body-tertiary rounded">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <div class="d-flex">
                        @if (Context.Request.Cookies["CookieRole"] == "1")
                        {
                            <div class="col-md-5 form-floating mt-2 me-3">
                                <select class="form-select selectPhy ms-2" aria-label="Floating label select">
                                    <option selected disabled>select physician</option>
                                    @foreach (var phy in Model)
                                    {
                                        <option value="@phy.Physicianid"> @phy.Firstname @phy.Lastname </option>
                                    }
                                </select>
                                <label class="ms-2" for="floatingSelect">Physician</label>
                            </div>
                        }
                        else
                        {
                            <select class="form-select selectPhy d-none ms-2" aria-label="Floating label select">
                                <option value="@ViewBag.rolePhyId"></option>
                            </select>
                        }
                        <div class="col-md form-floating mt-2">
                            <select class="form-select selectTimePeriod ms-2" aria-label="Floating label select">
                                @for (var i = 1; i <= startDate.Month; i++)
                                {
                                    int lastDate = DateTime.DaysInMonth(DateTime.Now.Year, i);
                                    @if (i == startDate.Month)
                                    {
                                        <option value="@i.ToString("00")-1" selected>@startDate.Date.ToString("yyyy")/@i.ToString("00")/01 - @startDate.Date.ToString("yyyy")/@i.ToString("00")/15</option>
                                    }
                                    else
                                    {
                                        <option value="@i.ToString("00")-1">@startDate.Date.ToString("yyyy")/@i.ToString("00")/01 - @startDate.Date.ToString("yyyy")/@i.ToString("00")/15</option>
                                    }
                                    @if (!startDate.Month.Equals(i) && System.DateTime.Now.Date < startDate)
                                    {
                                        <option value="@i.ToString("00")-2">@startDate.Date.ToString("yyyy")/@i.ToString("00")/16 - @startDate.Date.ToString("yyyy")/@i.ToString("00")/@lastDate </option>
                                    }
                                }
                            </select>
                            <label class="ms-2" for="floatingSelect">Search by TimesheetPeriod</label>
                        </div>
                    </div>
                    @if (Context.Request.Cookies["CookieRole"] == "2")
                    {
                        <div class="col-2 justify-content-end">
                            <button type="button" class="btn btn-outline-info FinalizeBtn">Finalize Timesheet</button>
                        </div>
                    }
                </div>
                <div class="sheet_Record">
                    <p class="ms-2">No record(s) found</p>
                </div>
            </div>
            <div class="rounded shadow p-4 mb-5 bg-body-tertiary rounded">
                <div class="mb-4">
                    <h6>TimeSheet Reimbursement</h6>
                </div>

                <div>
                    <p class="">No record(s) found</p>
                </div>
            </div>
        </div>
    </div>
    <div id="PartialSheet"></div>
</div>


@if (Context.Request.Cookies["CookieRole"] == "1")
{
    <script>
        $('.selectTimePeriod').change(function () {
            var period = $('.selectTimePeriod').val();
            var phid = $('.selectPhy').val();
            $.ajax({
                url: '/AdminTab/getFinalizeSheetData',
                method: 'POST',
                data: { period: period, phid: phid },
                success: function (response) {
                    $('.sheet_Record').html(response);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    </script>
}

<script asp-append-version="true">
    $(document).on('click', '.FinalizeBtn', function () {
        var period = $('.selectTimePeriod').val();
        var phid = $('.selectPhy').val();
        $.ajax({
            url: '/AdminTab/FinalizeSheet',
            method: 'POST',
            data: { period: period, phid: phid },
            success: function (response) {
                $('.MainInvoice').remove();
                $('#PartialSheet').html(response);
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    });
</script>