@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model HalloDoc.Entity.AdminDash.EncounterViewModel;

@{
    Layout = "";
}

<div class="MainContent pt-0 min-vh-100">
    <div class="tab-content" id="nav-tabContent">

        <div class="HContainer m-auto pt-4">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="m-0">Encounter Form</h5>
                <div class="btn w-5 btn-info rounded bg-transparent m-2 text-info BackOn">
                    <strong class="pe-2">&lt Back</strong>
                </div>
            </div>

            <div class=" rounded shadow p-4 rounded-3">
                <form id="Formdata" class="needs-validation">
                    <div class="mb-4">
                        <h3 class="text-info text-center mt-3 mb-3">Medical Report-Confidential</h3>
                        <p class="text-success text-center msgShow"></p>

                        <div class="row form-floating">
                            <div class="col-md-6 form-floating mt-3">
                                <input type="text" class="d-none EncountrtReq" asp-for="@Model.EncounterForm.RequestId" value="@TempData["reqid"]" />
                                <input type="text" class="form-control clientFeild" placeholder="firstNmae" asp-for="@Model.ClientInformation.Firstname" disabled>
                                <label class="ms-3 text-secondary">First Name</label>
                                <span asp-validation-for="ClientInformation.Firstname" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 form-floating mt-3">
                                <input type="text" class="form-control clientFeild" placeholder="lastName" asp-for="@Model.ClientInformation.Lastname" disabled>
                                <label class="ms-3 text-secondary">Last Name</label>
                                <span asp-validation-for="ClientInformation.Lastname" class="text-danger"></span>
                            </div>
                            <div class="col-md-12 form-floating mt-3">
                                <input type="text" class="form-control clientFeild" placeholder="loc" asp-for="@Model.ClientInformation.Address" disabled>
                                <label class="ms-3 text-secondary">Location</label>
                            </div>
                            <div class="col-md-6 form-floating mt-3">
                                <input type="date" class="form-control clientFeild"
                                       placeholder="Date of birth" asp-for="@Model.ClientInformation.Dob" disabled />
                                <label class="ms-3 text-secondary">Date of Birth</label>
                                <span asp-validation-for="ClientInformation.Dob" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 form-floating mt-3">
                                <input type="date" class="form-control clientFeild"
                                       placeholder="Date" asp-for="@Model.ClientInformation.date" disabled />
                                <label class="ms-3 text-secondary">Date</label>
                            </div>
                            <div class="col-md-6 form-floating mt-3">
                                <input type="text" id="phone1" class="form-control clientFeild" style="height:58px" asp-for="@Model.ClientInformation.Phonenumber" disabled />
                                <span asp-validation-for="ClientInformation.Phonenumber" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 form-floating mt-3">
                                <input type="email" name="email" id="email" class="form-control clientFeild" placeholder="email" asp-for="@Model.ClientInformation.Email" disabled>
                                <label class="ms-3 text-secondary">Email</label>
                                <span asp-validation-for="ClientInformation.Email" class="text-danger"></span>
                            </div>
                            <p class="text-danger EncounterError"></p>
                            <div class="col-md-6 form-floating mt-3">
                                <input type="text" class="form-control bg-transparent" placeholder="loc" asp-for="@Model.EncounterForm.HistoryOfPresentIllnessOrInjury">
                                <label class="ms-3 text-secondary">History Of Present illness Or injury</label>
                                <span class="text-danger" asp-validation-for="@Model.EncounterForm.HistoryOfPresentIllnessOrInjury"></span>
                            </div>
                            <div class="col-md-6 form-floating mt-3">
                                <input type="text" class="form-control bg-transparent" placeholder="loc" asp-for="@Model.EncounterForm.MedicalHistory">
                                <label class="ms-3 text-secondary">Medical History</label>
                                <span class="text-danger" asp-validation-for="@Model.EncounterForm.MedicalHistory"></span>
                            </div>
                            <div class="col-md-6 form-floating mt-3">
                                <input type="text" class="form-control bg-transparent" placeholder="loc" asp-for="@Model.EncounterForm.Medications">
                                <label class="ms-3 text-secondary">Medications</label>
                                <span class="text-danger" asp-validation-for="@Model.EncounterForm.Medications"></span>
                            </div>
                            <div class="col-md-6 form-floating mt-3">
                                <input type="text" class="form-control bg-transparent" placeholder="loc" asp-for="@Model.EncounterForm.Allergies">
                                <label class="ms-3 text-secondary">Allergies</label>
                                <span class="text-danger" asp-validation-for="@Model.EncounterForm.Allergies"></span>
                            </div>
                        </div>

                        <div class="row form-floating">
                            <div class="col-md-4 form-floating mt-3">
                                <input type="text" class="form-control bg-transparent" placeholder="loc" asp-for="@Model.EncounterForm.Temp">
                                <label class="ms-3 text-secondary">Temp</label>
                                <span class="text-danger" asp-validation-for="@Model.EncounterForm.Temp"></span>
                            </div>
                            <div class="col-md-4 form-floating mt-3">
                                <input type="text" class="form-control bg-transparent" placeholder="loc" asp-for="@Model.EncounterForm.Hr">
                                <label class="ms-3 text-secondary">HR</label>
                                <span class="text-danger" asp-validation-for="@Model.EncounterForm.Hr"></span>
                            </div>
                            <div class="col-md-4 form-floating mt-3">
                                <input type="text" class="form-control bg-transparent" placeholder="loc" asp-for="@Model.EncounterForm.Rr">
                                <label class="ms-3 text-secondary">RR</label>
                                <span class="text-danger" asp-validation-for="@Model.EncounterForm.Rr"></span>
                            </div>
                        </div>

                        <div class="row form-floating">
                            <div class="col-md-4 mt-2">
                                <div class="row">
                                    <div class="col-md-6 form-floating mt-3">
                                        <input type="text" class="form-control bg-transparent" placeholder="loc" asp-for="@Model.EncounterForm.BloodPressureDiastolic">
                                        <label class="ms-3 text-secondary">Blood Pressure(S...)</label>
                                    </div>
                                    <div class="col-md-6 form-floating mt-3">
                                        <input type="text" class="form-control bg-transparent" placeholder="loc" asp-for="@Model.EncounterForm.BloodPressureSystolic">
                                        <label class="ms-3 text-secondary">Blood Pressure(D...)</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 form-floating mt-3">
                                <input type="text" class="form-control bg-transparent" placeholder="loc" asp-for="@Model.EncounterForm.O2">
                                <label class="ms-3 text-secondary">O2</label>
                            </div>
                            <div class="col-md-4 form-floating mt-3">
                                <input type="text" class="form-control bg-transparent" placeholder="loc" asp-for="@Model.EncounterForm.Pain">
                                <label class="ms-3 text-secondary">Pain</label>
                            </div>
                        </div>

                        <div class="row form-floating">
                            <div class="col-md-6 form-floating mt-3">
                                <input type="text" class="form-control bg-transparent" placeholder="loc" asp-for="@Model.EncounterForm.Heent">
                                <label class="ms-3 text-secondary">Heeent</label>
                            </div>
                            <div class="col-md-6 form-floating mt-3">
                                <input type="text" class="form-control bg-transparent" placeholder="loc" asp-for="@Model.EncounterForm.Cv">
                                <label class="ms-3 text-secondary">CV</label>
                            </div>
                            <div class="col-md-6 form-floating mt-3">
                                <input type="text" class="form-control bg-transparent" placeholder="loc" asp-for="@Model.EncounterForm.Chest">
                                <label class="ms-3 text-secondary">Chest</label>
                                <span class="text-danger" asp-validation-for="@Model.EncounterForm.Chest"></span>
                            </div>
                            <div class="col-md-6 form-floating mt-3">
                                <input type="text" class="form-control bg-transparent" placeholder="loc" asp-for="@Model.EncounterForm.Abd">
                                <label class="ms-3 text-secondary">ABD</label>
                                <span class="text-danger" asp-validation-for="@Model.EncounterForm.Abd"></span>
                            </div>
                            <div class="col-md-6 form-floating mt-3">
                                <input type="text" class="form-control bg-transparent" placeholder="loc" asp-for="@Model.EncounterForm.Extremeties">
                                <label class="ms-3 text-secondary">Extr</label>
                            </div>
                            <div class="col-md-6 form-floating mt-3">
                                <input type="text" class="form-control bg-transparent" placeholder="loc" asp-for="@Model.EncounterForm.Skin">
                                <label class="ms-3 text-secondary">Skin</label>
                            </div>
                            <div class="col-md-6 form-floating mt-3">
                                <input type="text" class="form-control bg-transparent" placeholder="loc" asp-for="@Model.EncounterForm.Neuro">
                                <label class="ms-3 text-secondary">Neuro</label>
                            </div>
                            <div class="col-md-6 form-floating mt-3">
                                <input type="text" class="form-control bg-transparent" placeholder="loc" asp-for="@Model.EncounterForm.Other">
                                <label class="ms-3 text-secondary">Other</label>
                            </div>
                            <div class="col-md-6 form-floating mt-3">
                                <input type="text" class="form-control bg-transparent" placeholder="loc" asp-for="@Model.EncounterForm.Diagnosis">
                                <label class="ms-3 text-secondary">Diagnosis</label>
                            </div>
                            <div class="col-md-6 form-floating mt-3">
                                <input type="text" class="form-control bg-transparent" placeholder="loc" asp-for="@Model.EncounterForm.TreatmentPlan">
                                <label class="ms-3 text-secondary">Treatment Plan</label>
                            </div>
                            <div class="col-md-6 form-floating mt-3">
                                <input type="text" class="form-control bg-transparent" placeholder="loc" asp-for="@Model.EncounterForm.MedicationsDispensed">
                                <label class="ms-3 text-secondary">Medications Dispensed</label>
                            </div>
                            <div class="col-md-6 form-floating mt-3">
                                <input type="text" class="form-control bg-transparent" placeholder="loc" asp-for="@Model.EncounterForm.Procedures">
                                <label class="ms-3 text-secondary">Procedures</label>
                            </div>
                            <div class="col-md-12 form-floating mt-3">
                                <input type="text" class="form-control bg-transparent" placeholder="loc" asp-for="@Model.EncounterForm.FollowUp">
                                <label class="ms-3 text-secondary">Followup</label>
                            </div>
                        </div>
                    </div>


                    <div class="d-flex justify-content-end mt-4 mb-4">
                        <button type="submit" class="btn btn-info text-light me-3 ChangeDone">Save Change</button>
                        <div class="btn btn-primary text-light me-3 ChnageFinalize"> Finalize </div>
                        <button type="button" class="btn btn-danger BackOn">Cancel</button>
                        <div class="BackOn d-none"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/contact-api.js" asp-append-version="true"></script>
<script asp-append-version="true">
    window.addEventListener('DOMContentLoaded', (event) => {
        document.getElementById('dash').classList.add('underLine');
        document.getElementById('email').disable = true;
    });

</script>

<script asp-append-version="true">
    $(document).ready(function () {

        $('#Formdata').submit(function (e) {
            e.preventDefault();
            var data = $("#Formdata").serialize();
            $.ajax({
                type: 'POST',
                url: '/AdminDash/EncounterDone',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: data,
                success: function (response) {
                    if (response.value == "Ok") {
                        Swal.fire({
                            title: "Change Saved!",
                            icon: "success"
                        });
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

        $(".ChnageFinalize").click(function () {
            var reqid = $(".EncountrtReq").val();
            $.ajax({
                url: '/AdminDash/EncounFinalze',
                method: 'POST',
                data: { reqid: reqid },
                success: function (response) {
                    if (response.value == "Ok") {
                        $('.BackOn').click();
                    }
                    else {
                        Swal.fire({
                            title: "Not Saved ",
                            text: "Save change then after do finalize for report !",
                            icon: "error"
                        });
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });
</script>

