@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<HalloDoc.Entity.Models.Request>;

@{
    Layout = "";
}

<div class="MainContent pt-0 min-vh-100">
    <div class="tab-content" id="nav-tabContent">

        <div class="HContainer m-auto pt-4">
            <div class="d-flex justify-content-between">
                <h4 class="m-0"> Documents </h4>
                <a class="btn w-5 btn-info rounded bg-transparent m-2 text-info" asp-controller="AdminDash" asp-action="Dashbord">
                    <strong class="pe-2">&lt Back</strong>
                </a>
            </div>

            <div class=" rounded shadow p-4 rounded-3">
                <div class="mb-4">
                    <p class="text-success text-center m-0"></p>
                    <h5>Patient Name</h5>

                    <div>
                        <span class="text-info"> name @Model.FirstOrDefault().Requestclients.FirstOrDefault().Firstname </span> <span class="text-inline">(87685854)</span>
                    </div>
                    <div>
                        <span>check here to review and add files that you or the client/Member has attached to the Request.</span>
                    </div>
                </div>

                <div class="mb-4">
                    <form id="uploadDataFile">
                        <div class="d-flex m-auto">
                            <div class="p-0 w-100">
                                <input type="text" class="form-control bg-transparent" id="selectedFile" placeholder="select File"
                                       disabled>
                                <label class="ms-3"></label>
                            </div>
                            <div>
                                <label class="btn btn-outline-info d-flex ">
                                    <input type="file" style="display: none;" id="FileInput" name="DocFile" multiple>
                                    <input id="SpBtnUpload" data-reqid="@Model.FirstOrDefault().Requestid" style="display:none" />
                                    <i class="bi bi-cloud-arrow-up border-info"></i>
                                    <span class="upload_txt ms-2">Upload</span>@Model.FirstOrDefault().Requestid
                                </label>
                            </div>
                        </div>
                    </form>
                </div>

                        <p class="text-danger text-center m-0"></p>
                <form class="d-inline" asp-controller="Home" asp-action="DownloadAllFile" method="post">
                    <div class="d-flex justify-content-between">

                        <h5>Documents</h5>

                        <div>
                            <button type="submit" class="btn w-5 btn-info rounded bg-transparent m-2 text-info">
                                Download All
                            </button>
                            <button type="button" onclick="deleteall()" class="btn w-5 btn-info rounded bg-transparent m-2 text-info deleteBtn" value="@Model.FirstOrDefault().Requestid">
                                Delete All
                            </button>
                            <button type="button" onclick="sendMail()" class="btn w-5 btn-info rounded bg-transparent m-2 text-info sendMailFile" value="@Model.FirstOrDefault().Requestid">
                                Send Mail
                            </button>
                        </div>

                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="table-secondary">
                                <tr>
                                    <th>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="toggleAllCheck">
                                        </div>
                                    </th>
                                    <th scope="col">Documner</th>
                                    <th scope="col">Upload Date<i class="bi bi-arrow-up ms-1"></i></th>
                                    <th scope="col" class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.FirstOrDefault().Requestwisefiles)
                                {
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <input name="selectCheckFile" class="form-check-input checkboxClass" type="checkbox" value="@item.Filename" id="flexCheckDefault">
                                            </div>
                                        </td>
                                        <td>
                                            <p><i class="bi bi-file-earmark-pdf-fill"></i> @item.Filename</p>
                                        </td>
                                        <td>
                                            <p>@item.Createddate.ToString("MMMM dd, yyyy")</p>
                                        </td>
                                        <td class="text-center">
                                            <a class="btn btn-outline-info ps-1 pe-1 p-0" asp-route-file="@item.Filename" asp-controller="Home" asp-action="DownloadDocument">
                                                <i class="bi bi-cloud-check"></i>
                                            </a>
                                            <div class="btn btn-outline-info ps-1 pe-1 p-0 deleteDoc" data-docid="@item.Filename" data-reqid="@Model.FirstOrDefault().Requestid">
                                                <i class="bi bi-trash-fill"></i>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script asp-append-version="true">
    $(document).ready(function () {

        $("#FileInput").change(function () {
            var reqid = $("#SpBtnUpload").data('reqid');
            var files = this.files;
            let filedata = new FormData();
            if (files.length > 0) {
                for (var x = 0; x < files.length; x++) {
                    filedata.append('DocFile', files[x]);
                }
            }
            filedata.append('id', reqid);

            console.log(filedata);
            $.ajax({
                url: '/Home/UploadDoc',
                method: 'POST',
                data: filedata,
                processData: false,
                contentType: false,
                success: function (response) {
                    const dashHead = document.querySelector('.dashHead');
                    const dashs = document.querySelector('.DashSearch');
                    dashHead.classList.add('d-none');
                    dashs.classList.add('d-none');
                    $("#partial").html(response);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

        $('.ViewCase').click(function () {
            $.ajax({
                url: '/AdminDash/ViewCase',
                method: 'POST',
                data: { reqid: reqid },
                success: function (response) {
                    const dashHead = document.querySelector('.dashHead');
                    const dashs = document.querySelector('.DashSearch');
                    dashHead.classList.add('d-none');
                    dashs.classList.add('d-none');
                    $("#partial").html(response);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });


        $("#toggleAllCheck").click(function () {
            $(".checkboxClass").prop('checked', $(this).prop('checked'));
        });
        $(".checkboxClass").change(function () {
            if (!$(this).prop("checked")) {
                $("#toggleAllCheck").prop("checked", false);
            }
        })

        $('.deleteDoc').click(function () {
            var file = $(this).data('docid');
            var reqid = $(this).data('reqid');
            $.ajax({
                url: '/AdminDash/deleteDoc',
                method: 'POST',
                data: { reqid: reqid, file: file },
                success: function (response) {
                    $("#partial").html(response);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

    });

    function fileList() {
        let files = [];
        let inputs = $(".checkboxClass");
        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i].checked) {
                files.push(inputs[i].value);
            }
        }
        return files;
    }
    function deleteall() {
        var reqid = $(".deleteBtn").val();
        var files = fileList();
        $.ajax({
            url: '/AdminDash/deleteAllDoc',
            method: 'POST',
            data: { file: files, reqid: reqid },
            success: function (response) {
                $("#partial").html(response);
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    }

    function sendMail() {
        var reqid = $(".sendMailFile").val();
        var files = fileList();
        $.ajax({
            url: '/AdminDash/SendMailDoc',
            method: 'POST',
            data: { file: files, reqid: reqid },
            success: function (response) {
                if (response.value == "Ok"){
                    $(".text-success").text("Mail Sent Successfully !");
                    $(".checkboxClass").prop('checked', false);
                    $(".text-danger").text("");
                }
                else if (response.value == "Error") {
                    $(".text-danger").text("Please select file to send mail !");
                }
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    }


</script>