@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model HalloDoc.Entity.AdminDash.ViewNotesViewModel;

@{
    ViewData["Title"] = "Patient Dashbord";
    Layout = "";
}

<link rel="stylesheet" href="~/css/Dashbord.css" asp-append-version="true" />


<div class="MainContent pt-0 min-vh-100">
    <div class="tab-content" id="nav-tabContent">
        <div class="HContainer m-auto pt-4">
            <div class="d-flex justify-content-between mt-4">
                <h4 class="m-0">Notes</h4>
                <div class="btn w-5 btn-info rounded bg-transparent m-2 text-info backViewCase" data-reqid="@Model.RequestId">
                    <strong class="pe-2">&lt Back</strong>
                </div>
            </div>

            <div class="container mt-4 mb-5">
                <div class="row gx-5 gy-3">
                    <div class="col-md-6 ">
                        <div class="row rounded shadow bg-body-tertiary rounded p-3">
                            <div class="col-1"> <i class="bi bi-arrow-left-right"></i> </div>
                            <div class="col">
                                <h5>Transfer Notes</h5>
                                @foreach (var notes in Model.reqLog)
                                {
                                    <p class="m-0"> @notes.Notes </p>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row rounded shadow bg-body-tertiary rounded p-3">
                            <div class="col-1"> <i class="bi bi-person-fill center"></i> </div>
                            <div class="col">
                                <h5>Physician Notes</h5>
                                @foreach (var notes in Model.reqNote)
                                {
                                    <p class="m-0"> @notes.Physiciannotes </p>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row rounded shadow bg-body-tertiary rounded p-3">
                            <div class="col-1"> <i class="bi bi-person-check"></i> </div>
                            <div class="col">
                                <h5>Admin Notes</h5>
                                @foreach (var notes in Model.reqNote)
                                {
                                    <p class="m-0"> @notes.Adminnotes </p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="rounded shadow p-4 mb-5 bg-body-tertiary rounded">
                <div class="form-floating">
                    <textarea type="text" class="form-control bg-transparent h-100 adminNote"
                              placeholder="Detail info" id="note" name="note" rows="3" aria-label="Detail info" data-adminote=""
                              aria-describedby="button-addon2"> </textarea>
                    <label for="ms-3 text-info">Admin Notes</label>
                </div>

                <div class="d-flex justify-content-end mt-4 mb-2">
                    <div class="btn btn-info text-light me-4 saveCng" data-reqid="@Model.RequestId">Save Changes</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script asp-append-version="true">
    $(document).ready(function () {
        $('.saveCng').click(function () {
            var note = document.querySelector("#note").value;
            var reqid = $(this).data('reqid');
            $.ajax({
                url: '/AdminDash/ViewNotedata',
                method: 'POST',
                data: { note: note, reqid: reqid },
                success: function (response) {
                    const dashHead = document.querySelector('.dashHead');
                    const dashs = document.querySelector('.DashSearch');
                    dashHead.classList.add('d-none');
                    dashs.classList.add('d-none');
                    $("#partial").html(response);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

        $('.backViewCase').click(function () {
            var reqid = $(this).data('reqid');
            $.ajax({
                url: '/AdminDash/ViewCase',
                method: 'POST',
                data: { reqid: reqid },
                success: function (response) {
                    const dashHead = document.querySelector('.dashHead');
                    const dashs = document.querySelector('.DashSearch');
                    dashHead.classList.add('d-none');
                    dashs.classList.add('d-none');
                    $("#partial").html(response);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });
</script>