@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model HalloDoc.Entity.AdminDashTable.DashTable;

@{
    ViewData["Title"] = "Patient Dashbord";
    Layout = "~/Views/Shared/_LayoutDashbord.cshtml";
}

<link rel="stylesheet" href="~/css/Dashbord.css" asp-append-version="true" />


<div class="MainContent pt-0 min-vh-100">

    <partial name="partial/AdminNavTab" />


    <div class="dashHead">
        <div class="container-fluid overflow-hidden">

            <div class="row g-3 nav pt-4">
                <div class="col-4 col-sm-4 col-lg-2 active">
                    <div class="d-flex p-2 text-decoration-none rounded-3 DashCard DashCardN" onclick="newDash()" data-id="1">
                        <div class=" p-0">
                            <img class="dashIcon rounded-circle w-5 p-1 text-inline"
                                 src="~/image/Dash_new.jpg">
                            <strong class="Dash-name">NEW</strong>
                            <h5 class="Dash-num fw-bold m-0 me-5"> @Model.ToatlCount[0] </h5>
                        </div>
                    </div>
                </div>
                <div class="col-4 col-sm-4 col-lg-2 ">
                    <div class="d-flex p-2 text-decoration-none rounded-3 DashCard DashCardP" onclick="penDash()" data-id="2">
                        <div class=" p-0">
                            <img class="dashIcon rounded-circle w-5 p-1 text-inline"
                                 src="~/image/Dash_pending.jpg">
                            <strong class="Dash-name">PENDING</strong>
                            <h5 class="Dash-num fw-bold m-0 me-5"> @Model.ToatlCount[1] </h5>
                        </div>
                    </div>
                </div>

                <div class="col-4 col-sm-4 col-lg-2 ">
                    <div class="d-flex p-2 text-decoration-none rounded-3 DashCard DashCardA" onclick="actDash()" data-id="3">
                        <div class=" p-0">
                            <img class="dashIcon rounded-circle w-5 p-1 text-inline"
                                 src="~/image/Dash_active.png">
                            <strong class="Dash-name">ACTIVE</strong>
                            <h5 class="Dash-num fw-bold m-0 me-5"> @Model.ToatlCount[2] </h5>
                        </div>
                    </div>
                </div>
                <div class="col-4 col-sm-4 col-lg-2 ">
                    <div class="d-flex p-2 text-decoration-none rounded-3 DashCard DashCardC" onclick="conDash()" data-id="4">
                        <div class=" p-0">
                            <img class="dashIcon rounded-circle w-5 p-1 text-inline"
                                 src="~/image/Dash_conclude.png">
                            <strong class="Dash-name">CONCLUDE</strong>
                            <h5 class="Dash-num fw-bold m-0 me-5"> @Model.ToatlCount[3] </h5>
                        </div>
                    </div>
                </div>
                <div class="col-4 col-sm-4 col-lg-2 ">
                    <div class="d-flex p-2 text-decoration-none rounded-3 DashCard DashCardT" onclick="tocDash()" data-id="5">
                        <div class=" p-0">
                            <img class="dashIcon rounded-circle w-5 p-1 text-inline"
                                 src="~/image/Dash_toclose.png">
                            <strong class="Dash-name">To CLOSE</strong>
                            <h5 class="Dash-num fw-bold m-0 me-5"> @Model.ToatlCount[4] </h5>
                        </div>
                    </div>
                </div>
                <div class="col-4 col-sm-4 col-lg-2 ">
                    <div class="d-flex p-2 text-decoration-none rounded-3 DashCard DashCardU" onclick="unpDash()" data-id="6">
                        <div class=" p-0">
                            <img class="dashIcon rounded-circle w-5 p-1 text-inline"
                                 src="~/image/Dash_unpaid.png">
                            <strong class="Dash-name">UNPAID</strong>
                            <h5 class="Dash-num fw-bold m-0 me-5"> @Model.ToatlCount[5] </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="d-flex justify-content-between DashFun m-3">
            <div>
                <h5>Patient <span class="text-primary dNameCard"> </span> </h5>
            </div>
            <div>
                <button type="button" class="btn btn-info text-light"><i class="bi bi-send text-light"></i><span class="text-dashide"> Sendlink </span></button>
                <div class="btn btn-info text-light NewReq" data-reqid="1"><i class="bi bi-file-earmark-plus text-light"></i><span class="text-dashide"> Create Patient </span></div>
                <button type="button" class="btn btn-info text-light"><i class="bi bi-rocket text-light"></i><span class="text-dashide"> Export </span></button>
                <a type="button" class="btn btn-info text-light" asp-controller="AdminDash" asp-action="ExportAll"><i class="bi bi-rocket-takeoff-fill text-light"></i><span class="text-dashide"> Export All </span></a>
                <button type="button" class="btn btn-info text-light"><i class="bi bi-person-check text-light"></i><span class="text-dashide"> Request DTY Support </span></button>
            </div>
        </div>
    </div>

    <div class="rounded-3 pt-2 ps-2 pe-2">
        <div class=" d-flex justify-content-between flex-wrap DashSearch">
            <div class=" d-flex">
                <input type="text" id="InputSearch" class="form-control me-2" placeholder="Search Patient" onkeyup="SearchPatient()">
                <select class="form-select" id="validationDefault04">
                    <option selected disabled value="">All Regions</option>
                    <option>District of Columbia</option>
                    <option>Maryland</option>
                    <option>New York</option>
                    <option>Virginia</option>
                </select>
            </div>
            <div class=" d-flex align-self-center p-0 ">
                <span class="btn btn-outline-secondary p-0 ps-1 pe-1 me-2 h-50 text-dashide">All</span>
                <span class="me-2 text-black"><i class="bi bi-circle-fill me-1 text-success"></i>Patient</span>
                <span class="me-2 text-black"><i class="bi bi-circle-fill me-1 text-orange"></i>Family/Friend</span>
                <span class="me-2 text-black"><i class="bi bi-circle-fill me-1 text-pink"></i>Bussiness</span>
                <span class="me-2 text-black"><i class="bi bi-circle-fill me-1 text-blue"></i>Concierge</span>
                <span class="me-2 text-black"><i class="bi bi-circle-fill me-1 text-purple"></i>vip</span>
            </div>
        </div>

        <div id="partial">
            @*@Html.Partial("TablePartial")*@
        </div>
    </div>
</div>

<div class="PartialPopup">
</div>


<script asp-append-version="true">
    window.addEventListener('DOMContentLoaded', (event) => {
        document.getElementById('dash').classList.add('underLine');
        document.querySelector(".DashCardN").classList.add("new-active");
        newDash();
    });

    function newDash() {
        document.querySelector(".DashCardN").classList.add("new-active");
        document.querySelector(".DashCardP").classList.remove("Pending-active");
        document.querySelector(".DashCardA").classList.remove("Active-active");
        document.querySelector(".DashCardC").classList.remove("Conclude-active");
        document.querySelector(".DashCardT").classList.remove("ToClose-active");
        document.querySelector(".DashCardU").classList.remove("Unpaid-active");
        document.querySelector(".dNameCard").innerHTML = "(New)";
    }
    function penDash() {
        document.querySelector(".DashCardN").classList.remove("new-active");
        document.querySelector(".DashCardP").classList.add("Pending-active");
        document.querySelector(".DashCardA").classList.remove("Active-active");
        document.querySelector(".DashCardC").classList.remove("Conclude-active");
        document.querySelector(".DashCardT").classList.remove("ToClose-active");
        document.querySelector(".DashCardU").classList.remove("Unpaid-active");
        document.querySelector(".dNameCard").innerHTML = "(Pending)";
    }
    function actDash() {
        document.querySelector(".DashCardN").classList.remove("new-active");
        document.querySelector(".DashCardP").classList.remove("Pending-active");
        document.querySelector(".DashCardA").classList.add("Active-active");
        document.querySelector(".DashCardC").classList.remove("Conclude-active");
        document.querySelector(".DashCardT").classList.remove("ToClose-active");
        document.querySelector(".DashCardU").classList.remove("Unpaid-active");
        document.querySelector(".dNameCard").innerHTML = "(Active)";
    }
    function conDash() {
        document.querySelector(".DashCardN").classList.remove("new-active");
        document.querySelector(".DashCardP").classList.remove("Pending-active");
        document.querySelector(".DashCardA").classList.remove("Active-active");
        document.querySelector(".DashCardC").classList.add("Conclude-active");
        document.querySelector(".DashCardT").classList.remove("ToClose-active");
        document.querySelector(".DashCardU").classList.remove("Unpaid-active");
        document.querySelector(".dNameCard").innerHTML = "(Conclude)";
    }
    function tocDash() {
        document.querySelector(".DashCardN").classList.remove("new-active");
        document.querySelector(".DashCardP").classList.remove("Pending-active");
        document.querySelector(".DashCardA").classList.remove("Active-active");
        document.querySelector(".DashCardC").classList.remove("Conclude-active");
        document.querySelector(".DashCardT").classList.add("ToClose-active");
        document.querySelector(".DashCardU").classList.remove("Unpaid-active");
        document.querySelector(".dNameCard").innerHTML = "(Toclose)";
    }
    function unpDash() {
        document.querySelector(".DashCardN").classList.remove("new-active");
        document.querySelector(".DashCardP").classList.remove("Pending-active");
        document.querySelector(".DashCardA").classList.remove("Active-active");
        document.querySelector(".DashCardC").classList.remove("Conclude-active");
        document.querySelector(".DashCardT").classList.remove("ToClose-active");
        document.querySelector(".DashCardU").classList.add("Unpaid-active");
        document.querySelector(".dNameCard").innerHTML = "(Unpaid)";
    }
</script>


<script asp-append-version="true">
    $(document).ready(function () {
        $.ajax({
            url: '/AdminDash/DashbordData',
            method: 'POST',
            data: { id: "1" },
            success: function (response) {
                $("#partial").html(response);
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });

        $('.NewReq').click(function () {
            var reqid = $(this).data('reqid');
            $.ajax({
                url: '/AdminDash/NewRequest',
                method: 'POST',
                data: { reqid: reqid },
                success: function (response) {
                    const dashHead = document.querySelector('.dashHead');
                    const dashs = document.querySelector('.DashSearch');
                    dashHead.classList.add('d-none');
                    dashs.classList.add('d-none');
                    $("#partial").html(response);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

        $('.DashCard').click(function () {
            var id = $(this).data('id');
            $.ajax({
                url: '/AdminDash/DashbordData',
                method: 'POST',
                data: { id: id },
                success: function (response) {
                    $("#partial").html(response);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });

</script>
