@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model HalloDoc.Entity.AdminDashTable.DashTable;

@{
    ViewData["Title"] = "Patient Dashbord";
    Layout = "~/Views/Shared/_LayoutDashbord.cshtml";
}

<link rel="stylesheet" href="~/css/Dashbord.css" asp-append-version="true" />


<div class="MainContent pt-0 min-vh-100">

    <partial name="partial/AdminNavTab" />

    <div class="container-fluid overflow-hidden mt-3">
        <div class="row g-3 nav">
            <div class="col-4 col-sm-4 col-lg-2 active">
                <div class="d-flex p-2 text-decoration-none rounded-3 DashCard DashCardN" onclick="newDash()" data-id="1">
                    <div class=" p-0">
                        <img class="dashIcon rounded-circle w-5 p-1 text-inline"
                             src="~/image/Dash_new.jpg">
                        <strong class="Dash-name">NEW</strong>
                        <h5 class="Dash-num fw-bold m-0 me-5"> @Model.ToatlCount[0] </h5>
                    </div>
                </div>
            </div>
            <div class="col-4 col-sm-4 col-lg-2 ">
                <div class="d-flex p-2 text-decoration-none rounded-3 DashCard DashCardP" onclick="penDash()" data-id="2">
                    <div class=" p-0">
                        <img class="dashIcon rounded-circle w-5 p-1 text-inline"
                             src="~/image/Dash_pending.jpg">
                        <strong class="Dash-name">PENDING</strong>
                        <h5 class="Dash-num fw-bold m-0 me-5"> @Model.ToatlCount[1] </h5>
                    </div>
                </div>
            </div>

            <div class="col-4 col-sm-4 col-lg-2 ">
                <div class="d-flex p-2 text-decoration-none rounded-3 DashCard DashCardA" onclick="actDash()" data-id="3">
                    <div class=" p-0">
                        <img class="dashIcon rounded-circle w-5 p-1 text-inline"
                             src="~/image/Dash_active.png">
                        <strong class="Dash-name">ACTIVE</strong>
                        <h5 class="Dash-num fw-bold m-0 me-5"> @Model.ToatlCount[2] </h5>
                    </div>
                </div>
            </div>
            <div class="col-4 col-sm-4 col-lg-2 ">
                <div class="d-flex p-2 text-decoration-none rounded-3 DashCard DashCardC" onclick="conDash()" data-id="4">
                    <div class=" p-0">
                        <img class="dashIcon rounded-circle w-5 p-1 text-inline"
                             src="~/image/Dash_conclude.png">
                        <strong class="Dash-name">CONCLUDE</strong>
                        <h5 class="Dash-num fw-bold m-0 me-5"> @Model.ToatlCount[3] </h5>
                    </div>
                </div>
            </div>
            <div class="col-4 col-sm-4 col-lg-2 ">
                <div class="d-flex p-2 text-decoration-none rounded-3 DashCard DashCardT" onclick="tocDash()" data-id="5">
                    <div class=" p-0">
                        <img class="dashIcon rounded-circle w-5 p-1 text-inline"
                             src="~/image/Dash_toclose.png">
                        <strong class="Dash-name">To CLOSE</strong>
                        <h5 class="Dash-num fw-bold m-0 me-5"> @Model.ToatlCount[4] </h5>
                    </div>
                </div>
            </div>
            <div class="col-4 col-sm-4 col-lg-2 ">
                <div class="d-flex p-2 text-decoration-none rounded-3 DashCard DashCardU" onclick="unpDash()" data-id="6">
                    <div class=" p-0">
                        <img class="dashIcon rounded-circle w-5 p-1 text-inline"
                             src="~/image/Dash_unpaid.png">
                        <strong class="Dash-name">UNPAID</strong>
                        <h5 class="Dash-num fw-bold m-0 me-5"> @Model.ToatlCount[5] </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
        <div id="partial">
            @Html.Partial("TablePartial")
        </div>
</div>


<script asp-append-version="true">
    window.addEventListener('DOMContentLoaded', (event) => {
        document.getElementById('dash').classList.add('underLine');
        document.querySelector(".DashCardN").classList.add("new-active");
    });

    function newDash() {
        document.querySelector(".DashCardN").classList.add("new-active");
        document.querySelector(".DashCardP").classList.remove("Pending-active");
        document.querySelector(".DashCardA").classList.remove("Active-active");
        document.querySelector(".DashCardC").classList.remove("Conclude-active");
        document.querySelector(".DashCardT").classList.remove("ToClose-active");
        document.querySelector(".DashCardU").classList.remove("Unpaid-active");
    }
    function penDash() {
        document.querySelector(".DashCardN").classList.remove("new-active");
        document.querySelector(".DashCardP").classList.add("Pending-active");
        document.querySelector(".DashCardA").classList.remove("Active-active");
        document.querySelector(".DashCardC").classList.remove("Conclude-active");
        document.querySelector(".DashCardT").classList.remove("ToClose-active");
        document.querySelector(".DashCardU").classList.remove("Unpaid-active");
    }
    function actDash() {
        document.querySelector(".DashCardN").classList.remove("new-active");
        document.querySelector(".DashCardP").classList.remove("Pending-active");
        document.querySelector(".DashCardA").classList.add("Active-active");
        document.querySelector(".DashCardC").classList.remove("Conclude-active");
        document.querySelector(".DashCardT").classList.remove("ToClose-active");
        document.querySelector(".DashCardU").classList.remove("Unpaid-active");
    }
    function conDash() {
        document.querySelector(".DashCardN").classList.remove("new-active");
        document.querySelector(".DashCardP").classList.remove("Pending-active");
        document.querySelector(".DashCardA").classList.remove("Active-active");
        document.querySelector(".DashCardC").classList.add("Conclude-active");
        document.querySelector(".DashCardT").classList.remove("ToClose-active");
        document.querySelector(".DashCardU").classList.remove("Unpaid-active");
    }
    function tocDash() {
        document.querySelector(".DashCardN").classList.remove("new-active");
        document.querySelector(".DashCardP").classList.remove("Pending-active");
        document.querySelector(".DashCardA").classList.remove("Active-active");
        document.querySelector(".DashCardC").classList.remove("Conclude-active");
        document.querySelector(".DashCardT").classList.add("ToClose-active");
        document.querySelector(".DashCardU").classList.remove("Unpaid-active");
    }
    function unpDash() {
        document.querySelector(".DashCardN").classList.remove("new-active");
        document.querySelector(".DashCardP").classList.remove("Pending-active");
        document.querySelector(".DashCardA").classList.remove("Active-active");
        document.querySelector(".DashCardC").classList.remove("Conclude-active");
        document.querySelector(".DashCardT").classList.remove("ToClose-active");
        document.querySelector(".DashCardU").classList.add("Unpaid-active");
    }
</script>


<script asp-append-version="true">
    $(document).ready(function () {
        //$.ajax({
        //    url: '/AdminDash/DashbordData',
        //    method: 'POST',
        //    data: { id: "1" },
        //    success: function (response) {
        //        $("#partial").html(response);
        //    },
        //    error: function (xhr, status, error) {
        //        console.error(xhr.responseText);
        //    }
        //});

        $('.DashCard').click(function () {
            var id = $(this).data('id');
            $.ajax({
                url: '/AdminDash/DashbordData',
                method: 'POST',
                data: { id: id },
                success: function (response) {
                    $("#partial").html(response);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });
</script>
