@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model HalloDoc.Entity.AdminDashTable.popupModel;

@{
}


<div class="modal fade" id="transferCase" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content rounded-4">
            <div class="modal-header bg-info p-2">
                <h1 class="modal-title fs-5 text-light" id="exampleModalLabel">Transfer Request</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>To assign this request, search and select another Physician</p>
                <div class="text-center pt-2">
                    <select class="form-select RegOption" data-id="@Model.Requestclient.Requestid">
                        <option selected disabled>Narrow Search by Region</option>
                        @foreach (var regName in Model.Regions)
                        {
                            <option value="@regName.Regionid">@regName.Name</option>
                        }
                    </select>
                    <select class="form-select mt-2 PhyOption" name="phyId">
                        <option selected disabled>Select Physician</option>
                    </select>
                    <div class="form-floating mt-2">
                        <textarea type="text" class="form-control bg-transparent h-25 AssignNote"
                                  placeholder="Detail info" name="AssignNote" rows="3" aria-label="Detail info"
                                  aria-describedby="button-addon2"> </textarea>
                        <label for="ms-3 text-info">Description</label>
                    </div>
                </div>
                @if (TempData["msg"] != null)
                {
                    <p class="text-danger m-0">@TempData["msg"]</p>
                }
            </div>
            <div class="modal-footer p-1">
                <button type="submit" class="btn btn-secondary btn-info text-light TransferCase" data-reqid="@Model.Requestclient.Requestid">Continue</button>
                <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal"> Cancel </button>
            </div>
        </div>
    </div>
</div>

