@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="table-responsive mt-2">
    <table id="tableD" class="table MedicalLG">
        <tbody>
            <tr class="table-secondary">
                <th scope="col">
                    Name
                </th>
                @if (ViewBag.dTable != 6)
                {
                    <th scope="col">Date of Birth</th>
                }
                @if (ViewBag.dTable == 1 || ViewBag.dTable == 2 || ViewBag.dTable == 3)
                {
                    <th scope="col">Requestor</th>
                }
                @if (ViewBag.dTable == 1)
                {
                    <th scope="col">Requested Date</th>
                }
                @if (ViewBag.dTable == 5)
                {
                    <th scope="col">Region</th>
                }
                @if (ViewBag.dTable != 1)
                {
                    <th scope="col">Physician Name</th>
                }
                @if (ViewBag.dTable != 1)
                {
                    <th scope="col">Date of Service</th>
                }
                @if (ViewBag.dTable != 5)
                {
                    <th scope="col">Phone</th>
                }
                <th scope="col">Address</th>
                @if (ViewBag.dTable == 1 || ViewBag.dTable == 2 || ViewBag.dTable == 3 || ViewBag.dTable == 5)
                {
                    <th scope="col">Notes</th>
                }
                <th scope="col">Chat With</th>
                <th scope="col">Action</th>
            </tr>

            @foreach (var item in Model.Tdata)
            {
                <tr class=" @Enum.GetName(typeof(HalloEnum.reqTypebg), item.ReqTypeId)">
                    <td class="text-light " scope="row">
                        <p class="d-flex justify-content-between">
                            @item.Name
                            <button class="btn btn-outline-light p-0 ps-1 pe-1"><i class="bi bi-envelope"></i></button>
                        </p>
                    </td>

                    @if (ViewBag.dTable != 6)
                    {
                        <td class="text-light "> @item.Strmonth @item.Intdate , @item.Intyear (@item.Age) </td>
                    }
                    @if (ViewBag.dTable == 1 || ViewBag.dTable == 2 || ViewBag.dTable == 3)
                    {
                        <td class="text-light ">
                            @Enum.GetName(typeof(HalloEnum.repestType), @item.ReqTypeId) @item.Requestor
                        </td>
                    }
                    @if (ViewBag.dTable == 1)
                    {
                        <td class="text-light "> @item.RequestedDate</td>
                    }
                    @if (ViewBag.dTable == 5)
                    {
                        <td class="text-light ">@item.Region</td>
                    }
                    @if (ViewBag.dTable != 1)
                    {
                        <td class="text-light ">@item.PhysicianName</td>
                    }
                    @if (ViewBag.dTable != 1)
                    {
                        <td class="text-light ">@item.DateOfService</td>
                    }
                    @if (ViewBag.dTable != 5)
                    {
                        <td>
                            <button class="btn btn-outline-light p-0 ps-1 pe-1">
                                <i class="bi bi-telephone text-light"></i>
                                @item.Phonenumber
                            </button>
                            <p class="text-light m-0">(Patient)</p>

                            @if (item.ReqTypeId != 2)
                            {
                                <button class="btn btn-outline-light p-0 ps-1 pe-1">
                                    <i class="bi bi-telephone text-light"></i>
                                    @item.ReqPhonenumber
                                </button>
                                <p class="text-light m-0">(@Enum.GetName(typeof(HalloEnum.repestType), item.ReqTypeId))</p>

                            }
                        </td>
                    }
                    <td class="text-light ">
                        @if (item.city != null)
                        {
                            @item.Address
                        }
                        else
                        {
                            <p>-</p>
                        }
                    </td>
                    @if (ViewBag.dTable == 1 || ViewBag.dTable == 2 || ViewBag.dTable == 3 || ViewBag.dTable == 5)
                    {
                        <td class="text-light "> @item.Notes</td>
                    }
                    <td><button class="btn btn-outline-light"><i class="bi bi-person-fill-add"></i>Provider</button></td>
                    <td>
                        <button type="button" class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            Actions
                        </button>
                        <ul class="dropdown-menu">
                            @if (ViewBag.dTable == 1)
                            {
                                <li>
                                    <div class="dropdown-item AssignCase" data-reqid="@item.RequestId" data-phycase="AssignPhy"> Assign Case </div>
                                </li>
                            }
                            @if (ViewBag.dTable == 1)
                            {
                                <li>
                                    <div class="dropdown-item CancelCase" data-reqid="@item.RequestId"> Cancel Case </div>
                                </li>
                            }
                            <li>
                                <div class="dropdown-item ViewCase" data-reqid="@item.RequestId"> View Case </div>
                            </li>
                            @if (ViewBag.dTable != 1)
                            {
                                <li><div class="dropdown-item ViewUpload" data-reqid="@item.RequestId">View Uploads </div></li>
                            }
                            <li>
                                <div class="dropdown-item ViewNote" data-reqid="@item.RequestId">View Notes</div>
                            </li>
                            @if (ViewBag.dTable == 1)
                            {
                                <li>
                                    <div class="dropdown-item BlockCase" data-reqid="@item.RequestId">
                                        Block
                                        Patient
                                    </div>
                                </li>
                            }
                            @if (ViewBag.dTable == 2)
                            {
                                <li><div class="dropdown-item AssignCase" data-reqid="@item.RequestId" data-phycase="TransferPhy">Transfer</div></li>
                            }
                            @if (ViewBag.dTable == 5)
                            {
                                <li><a class="dropdown-item CloseCase" data-reqid="@item.RequestId">Close Case</a></li>
                            }
                            @if (ViewBag.dTable == 3 || ViewBag.dTable == 4 || ViewBag.dTable == 5)
                            {
                                <li><div class="dropdown-item OrderCase" data-reqid="@item.RequestId">Order</div></li>
                                <li><a class="dropdown-item" href="#">Doctors Notes</a></li>
                            }
                            @if (ViewBag.dTable == 2 || ViewBag.dTable == 5)
                            {
                                <li><div class="dropdown-item ClearCase" data-reqid="@item.RequestId">Clear Case</div></li>
                            }
                            @if (ViewBag.dTable == 2)
                            {
                                <li><div class="dropdown-item SendAgreement" data-reqid="@item.RequestId">Send Agreement</div></li>
                            }
                            @if (ViewBag.dTable == 3 || ViewBag.dTable == 4 || ViewBag.dTable == 5)
                            {
                                <li><a class="dropdown-item" href="#">Encounter</a></li>
                            }

                        </ul>

                    </td>
                </tr>
            }
        </tbody>
    </table>


    <div class="accordion accordion-flush MediaclSM" id="accordionFlushExample">
        @foreach (var item in Model.Tdata)
        {
            <div class="accordion-item">
                <div class="accordion-header bg-lighinfo p-2">
                    <div class="d-flex justify-content-between mb-3">
                        <span>@item.Name</span>
                        <span class="d-flex align-items-center gap-2">
                            Ptient
                        </span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <span>@item.Address</span>
                        <span class="btn btn-outline-info rounded-pill" type="button" data-bs-toggle="collapse"
                              data-bs-target="#flush-@item.ReqClientId" aria-expanded="false" aria-controls="flush-collapseOne">Map Location</span>
                    </div>
                </div>
                <div id="flush-@item.ReqClientId" class="accordion-collapse collapse bg-lighinfo"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="d-flex flex-column px-3">
                            <div class="d-flex flex-column px-5 position-relative new">
                                <button class="btn text-nowrap btn-light state">View Case</button>
                            </div>
                            <div class="d-flex mb-3 flex-column">
                                <span class="d-inline-flex">
                                    <i class="bi bi-clock text-primary"></i><span class="text-secondary mx-2">
                                        Wait Time:
                                    </span>Dec 5, 2023 08:52 AM
                                </span>
                                <span class="d-inline-flex">
                                    <i class="bi bi-calendar3 text-primary"></i><span class="text-secondary mx-2"> Date of Birth: </span> @item.Strmonth.Substring(0, 3) @item.Intdate , @item.Intyear (@item.Age)
                                </span>
                                <span class="d-inline-flex">
                                    <i class="bi bi-envelope text-primary"></i><span class="text-secondary mx-2"> Email: </span> @item.Email
                                </span>
                                <span class="d-inline-flex">
                                    <i class="bi bi-telephone text-primary"></i><span class="text-secondary mx-2"> Patient:</span>  @item.Name
                                </span>
                                <span class="d-inline-flex">
                                    <i class="bi bi-person text-primary"></i><span class="text-secondary mx-2">
                                        Requestor:
                                    </span> @item.Requestor
                                </span>
                            </div>
                            <div class="d-flex justify-content-between row">
                                <button class="btn btn-primary col-5 mb-2">Assign Case</button>
                                <button class="btn btn-danger col-5 mb-2">Cancel Case</button>
                                <button class="btn btn-success col-5 mb-2">View Notes</button>
                                <button class="btn btn-danger col-5 mb-2">Block Patient</button>
                                <button class="btn btn-success col-5 mb-2">Email</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

</div>


<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end me-3 pb-2">
        @if(ViewBag.TPage > 1)
        {
            @for (int i = 1; i <= ViewBag.TPage; i++)
            {
                <li class="page-item"><div class="page-link" data-id="@ViewBag.dTable" data-page="@(i - 1)">@i</div></li>
            }
        }
    </ul>
</nav>




<script asp-append-version="true">
    $(document).ready(function () {

        function hideOtherPortion(){
            const dashHead = document.querySelector('.dashHead');
            const dashs = document.querySelector('.DashSearch');
            dashHead.classList.add('d-none');
            dashs.classList.add('d-none');
        }

        $('.page-link').click(function () {
            var id = $(this).data('id');
            var page = $(this).data('page');
            $.ajax({
                url: '/AdminDash/DashbordData',
                method: 'POST',
                data: { id: id, page: page },
                success: function (response) {
                    $("#partial").html(response);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

        $('.ViewCase').click(function () {
            var reqid = $(this).data('reqid');
            $.ajax({
                url: '/AdminDash/ViewCase',
                method: 'POST',
                data: { reqid: reqid },
                success: function (response) {
                    hideOtherPortion();
                    $("#partial").html(response);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

        $('.ViewNote').click(function () {
            var reqid = $(this).data('reqid');
            $.ajax({
                url: '/AdminDash/ViewNotes',
                method: 'POST',
                data: { reqid: reqid },
                success: function (response) {
                    hideOtherPortion();
                    $("#partial").html(response);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

        $('.BlockCase').click(function () {
            var reqid = $(this).data('reqid');
            $.ajax({
                url: '/AdminDash/PopupBlockcase',
                method: 'POST',
                data: { reqid: reqid },
                success: function (response) {
                    $(".PartialPopup").html(response);
                    var my = new bootstrap.Modal(document.getElementById('blockCase'));
                    my.show();
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

        $('.AssignCase').click(function () {
            var reqid = $(this).data('reqid');
            var phyCase = $(this).data('phycase');
            $.ajax({
                url: '/AdminDash/PopupAssigncase',
                method: 'POST',
                data: { reqid: reqid, phyCase: phyCase },
                success: function (response) {
                    $(".PartialPopup").html(response);
                    var my = new bootstrap.Modal(document.getElementById('assignCase'));
                    my.show();
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

        $('.CancelCase').click(function () {
            var reqid = $(this).data('reqid');
            $.ajax({
                url: '/AdminDash/PopupCancelcase',
                method: 'POST',
                data: { reqid: reqid },
                success: function (response) {
                    $(".PartialPopup").html(response);
                    var my = new bootstrap.Modal(document.getElementById('cancelCase'));
                    my.show();
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

        $('.ViewUpload').click(function () {
            var reqid = $(this).data('reqid');
            $.ajax({
                url: '/AdminDash/ViewUploads',
                method: 'POST',
                data: { reqid: reqid },
                success: function (response) {
                    hideOtherPortion();
                    $("#partial").html(response);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

        $('.OrderCase').click(function () {
            var reqid = $(this).data('reqid');
            $.ajax({
                url: '/AdminDash/SendOrder',
                method: 'POST',
                data: { reqid: reqid },
                success: function (response) {
                    hideOtherPortion();
                    $("#partial").html(response);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

        $('.ClearCase').click(function () {
            var reqid = $(this).data('reqid');
            $.ajax({
                url: '/AdminDash/clearcase',
                method: 'POST',
                data: { reqid: reqid },
                success: function (response) {
                    $(".PartialPopup").html(response);
                    var my = new bootstrap.Modal(document.getElementById('clearCase'));
                    my.show();
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

        $('.SendAgreement').click(function () {
            var reqid = $(this).data('reqid');
            $.ajax({
                url: '/AdminDash/sendAgree',
                method: 'POST',
                data: { reqid: reqid },
                success: function (response) {
                    $(".PartialPopup").html(response);
                    var my = new bootstrap.Modal(document.getElementById('sendAgree'));
                    my.show();
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

        $('.CloseCase').click(function () {
            var reqid = $(this).data('reqid');
            $.ajax({
                url: '/AdminDash/CloseCase',
                method: 'POST',
                data: { reqid: reqid },
                success: function (response) {
                    hideOtherPortion();
                    $("#partial").html(response);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

    });
</script>
