@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="table-responsive mt-2">
    <table id="tableD" class="table MedicalLG">
        <tbody>
            <tr class="table-secondary">
                <th scope="col">
                    Name
                </th>
                @if (ViewBag.dTable != 6)
                {
                    <th scope="col">Date of Birth</th>
                }
                @if (ViewBag.dTable == 1 || ViewBag.dTable == 2 || ViewBag.dTable == 3)
                {
                    <th scope="col">Requestor</th>
                }
                @if (ViewBag.dTable == 1)
                {
                    <th scope="col">Requested Date</th>
                }
                @if (ViewBag.dTable == 5)
                {
                    <th scope="col">Region</th>
                }
                @if (ViewBag.dTable != 1)
                {
                    <th scope="col">Physician Name</th>
                }
                @if (ViewBag.dTable != 1)
                {
                    <th scope="col">Date of Service</th>
                }
                @if (ViewBag.dTable != 5)
                {
                    <th scope="col">Phone</th>
                }
                <th scope="col">Address</th>
                @if (ViewBag.dTable == 1 || ViewBag.dTable == 2 || ViewBag.dTable == 3 || ViewBag.dTable == 5)
                {
                    <th scope="col">Notes</th>
                }
                <th scope="col">Chat With</th>
                <th scope="col">Action</th>
            </tr>

            @foreach (var item in Model.Tdata)
            {
                <tr class=" @Enum.GetName(typeof(HalloEnum.reqTypebg), item.ReqTypeId)">
                    <td class="text-light " scope="row">
                        <p class="d-flex justify-content-between">
                            @item.Name
                            <button class="btn btn-outline-light p-0 ps-1 pe-1"><i class="bi bi-envelope"></i></button>
                        </p>
                    </td>

                    @if (ViewBag.dTable != 6)
                    {
                        <td class="text-light "> @item.Strmonth @item.Intdate , @item.Intyear (@item.Age) </td>
                    }
                    @if (ViewBag.dTable == 1 || ViewBag.dTable == 2 || ViewBag.dTable == 3)
                    {
                        <td class="text-light ">
                            @Enum.GetName(typeof(HalloEnum.repestType), @item.ReqTypeId) @item.Requestor
                        </td>
                    }
                    @if (ViewBag.dTable == 1)
                    {
                        <td class="text-light "> @item.RequestedDate</td>
                    }
                    @if (ViewBag.dTable == 5)
                    {
                        <td class="text-light ">@item.Region</td>
                    }
                    @if (ViewBag.dTable != 1)
                    {
                        <td class="text-light ">@item.PhysicianName</td>
                    }
                    @if (ViewBag.dTable != 1)
                    {
                        <td class="text-light ">@item.DateOfService</td>
                    }
                    @if (ViewBag.dTable != 5)
                    {
                        <td>
                            <button class="btn btn-outline-light p-0 ps-1 pe-1">
                                <i class="bi bi-telephone text-light"></i>
                                @item.Phonenumber
                            </button>
                            <p class="text-light m-0">(Patient)</p>

                            @if (item.ReqTypeId != 2)
                            {
                                <button class="btn btn-outline-light p-0 ps-1 pe-1">
                                    <i class="bi bi-telephone text-light"></i>
                                    @item.ReqPhonenumber
                                </button>
                                <p class="text-light m-0">(@Enum.GetName(typeof(HalloEnum.repestType), item.ReqTypeId))</p>

                            }
                        </td>
                    }
                    <td class="text-light ">
                        @if (item.city != null)
                        {
                            @item.Address
                        }
                        else
                        {
                            <p>-</p>
                        }
                    </td>
                    @if (ViewBag.dTable == 1 || ViewBag.dTable == 2 || ViewBag.dTable == 3 || ViewBag.dTable == 5)
                    {
                        <td class="text-light "> @item.Notes</td>
                    }
                    <td><button class="btn btn-outline-light"><i class="bi bi-person-fill-add"></i>Provider</button></td>
                    <td>
                        <button type="button" class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            Actions
                        </button>
                        <ul class="dropdown-menu">
                            @if (ViewBag.dTable == 1)
                            {
                                <li>
                                    <a class="dropdown-item assignModel" data-bs-toggle="modal" data-bs-target="#assign-@item.RequestId"> Assign Case @item.RequestId</a>
                                </li>
                            }
                            @if (ViewBag.dTable == 1)
                            {
                                <li>
                                    <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#cancel-@item.RequestId"> Cancel Case @item.RequestId </a>
                                </li>
                            }
                            <li>
                                <div class="dropdown-item ViewCase" data-reqid="@item.RequestId"> View Case </div>
                            </li>
                            @if (ViewBag.dTable != 1)
                            {
                                <li><a class="dropdown-item" href="#">View Uploads</a></li>
                            }
                            <li><a class="dropdown-item" href="#">View Notes</a></li>
                            @if (ViewBag.dTable == 1)
                            {
                                <li>
                                    <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#BlockPatient">
                                        Block
                                        Patient
                                    </a>
                                </li>
                            }
                            @if (ViewBag.dTable == 2)
                            {
                                <li><a class="dropdown-item" href="#">Transfer</a></li>
                            }
                            @if (ViewBag.dTable == 5)
                            {
                                <li><a class="dropdown-item" href="#">Close Case</a></li>
                            }
                            @if (ViewBag.dTable == 3 || ViewBag.dTable == 4 || ViewBag.dTable == 5)
                            {
                                <li><a class="dropdown-item" href="#">Order</a></li>
                                <li><a class="dropdown-item" href="#">Doctors Notes</a></li>
                            }
                            @if (ViewBag.dTable == 2 || ViewBag.dTable == 5)
                            {
                                <li><a class="dropdown-item" href="#">Clear Case</a></li>
                            }
                            @if (ViewBag.dTable == 2)
                            {
                                <li><a class="dropdown-item" href="#">Send Agreement</a></li>
                            }
                            @if (ViewBag.dTable == 3 || ViewBag.dTable == 4 || ViewBag.dTable == 5)
                            {
                                <li><a class="dropdown-item" href="#">Encounter</a></li>
                            }

                        </ul>

                        <div class="modal fade" id="cancel-@item.RequestId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog  modal-dialog-centered">
                                <form asp-action="CancelReq" asp-route-reqid="@item.RequestId" method="post" class="modal-content rounded-4">
                                    <div class="modal-header bg-info p-2">
                                        <h1 class="modal-title fs-5 text-light" id="exampleModalLabel">Confirm Cancellation</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Patient Name : <span class="text-info"> @item.Name  </span>
                                        <div class="text-center pt-2">
                                            <div>
                                                <select class="form-select" name="tag" id="validationDefault04">
                                                    <option selected disabled>Reasons for Cancellation</option>
                                                    @foreach (var tagName in Model.Casetags)
                                                    {
                                                        <option value="@tagName.Name" class="CancelReason"> @tagName.Name </option>
                                                    }
                                                </select>
                                                <div class="form-floating mt-2">
                                                    <textarea type="text" class="form-control bg-transparent h-25 CancelNotes"
                                                              placeholder="Detail info" name="CancelNotes" rows="3" aria-label="Detail info"
                                                              aria-describedby="button-addon2"> </textarea>
                                                    <label for="ms-3 text-info">Provide Aditional Notes</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer p-1">
                                        <button type="submit" class="btn btn-secondary btn-info text-light cancelCase" data-reqid="@item.RequestId">Continue</button>
                                        <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal"> Cancel </button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="modal fade" id="BlockPatient" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog  modal-dialog-centered">
                                <div class="modal-content rounded-4">
                                    <div class="modal-header bg-info p-2">
                                        <h1 class="modal-title fs-5 text-light" id="exampleModalLabel">Confirm Block</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Patient Name : <span class="text-info"> @item.Name </span>
                                        <div class="text-center pt-2">
                                            <form asp-action="CheckPatientReq" asp-controller="PatientRequest">
                                                <div class="form-floating mt-2">
                                                    <textarea type="text" class="form-control bg-transparent h-25"
                                                              placeholder="Detail info" id="floatingInput" rows="3" aria-label="Detail info"
                                                              aria-describedby="button-addon2"> </textarea>
                                                    <label for="ms-3 text-info">Reason for Block Request</label>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="modal-footer p-1">
                                        <button type="button" class="btn btn-secondary btn-info text-light">Continue</button>
                                        <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal"> Cancel </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="assign-@item.RequestId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog  modal-dialog-centered">
                                <div class="modal-content rounded-4">
                                    <div class="modal-header bg-info p-2">
                                        <h1 class="modal-title fs-5 text-light" id="exampleModalLabel">Assign Request</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>To assign this request, search and select another Physician</p>
                                        <div class="text-center pt-2">
                                            <form asp-action="CheckPatientReq" asp-controller="PatientRequest">
                                                <select class="form-select RegOption" data-id="@item.RequestId">
                                                    <option selected disabled>Narrow Search by Region</option>
                                                    @foreach (var regName in Model.Regions)
                                                    {
                                                        <option value="@regName.Regionid">@regName.Name</option>
                                                    }
                                                </select>
                                                <select class="form-select mt-2" id="validationDefault04">
                                                    <option selected disabled>Select Physician</option>
                                                    @*@foreach (var phy in @Phylist)
                                                    {
                                                        <option>1..</option>
                                                    }*@
                                                </select>
                                                <div class="form-floating mt-2">
                                                    <textarea type="text" class="form-control bg-transparent h-25"
                                                              placeholder="Detail info" id="floatingInput" rows="3" aria-label="Detail info"
                                                              aria-describedby="button-addon2"> </textarea>
                                                    <label for="ms-3 text-info">Description</label>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="modal-footer p-1">
                                        <button type="button" class="btn btn-secondary btn-info text-light">Continue</button>
                                        <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal"> Cancel </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>
                </tr>
            }
        </tbody>
    </table>


    <div class="accordion accordion-flush MediaclSM" id="accordionFlushExample">
        @foreach (var item in Model.Tdata)
        {
            <div class="accordion-item">
                <div class="accordion-header bg-lighinfo p-2">
                    <div class="d-flex justify-content-between mb-3">
                        <span>@item.Name</span>
                        <span class="d-flex align-items-center gap-2">
                            Ptient
                        </span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <span>@item.Address</span>
                        <span class="btn btn-outline-info rounded-pill" type="button" data-bs-toggle="collapse"
                              data-bs-target="#flush-@item.ReqClientId" aria-expanded="false" aria-controls="flush-collapseOne">Map Location</span>
                    </div>
                </div>
                <div id="flush-@item.ReqClientId" class="accordion-collapse collapse bg-lighinfo"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="d-flex flex-column px-3">
                            <div class="d-flex flex-column px-5 position-relative new">
                                <button class="btn text-nowrap btn-light state">View Case</button>
                            </div>
                            <div class="d-flex mb-3 flex-column">
                                <span class="d-inline-flex">
                                    <i class="bi bi-clock text-primary"></i><span class="text-secondary mx-2">
                                        Wait Time:
                                    </span>Dec 5, 2023 08:52 AM
                                </span>
                                <span class="d-inline-flex">
                                    <i class="bi bi-calendar3 text-primary"></i><span class="text-secondary mx-2"> Date of Birth: </span> @item.Strmonth.Substring(0, 3) @item.Intdate , @item.Intyear (@item.Age)
                                </span>
                                <span class="d-inline-flex">
                                    <i class="bi bi-envelope text-primary"></i><span class="text-secondary mx-2"> Email: </span> @item.Email
                                </span>
                                <span class="d-inline-flex">
                                    <i class="bi bi-telephone text-primary"></i><span class="text-secondary mx-2"> Patient:</span>  @item.Name
                                </span>
                                <span class="d-inline-flex">
                                    <i class="bi bi-person text-primary"></i><span class="text-secondary mx-2">
                                        Requestor:
                                    </span> @item.Requestor
                                </span>
                            </div>
                            <div class="d-flex justify-content-between row">
                                <button class="btn btn-primary col-5 mb-2">Assign Case</button>
                                <button class="btn btn-danger col-5 mb-2">Cancel Case</button>
                                <button class="btn btn-success col-5 mb-2">View Notes</button>
                                <button class="btn btn-danger col-5 mb-2">Block Patient</button>
                                <button class="btn btn-success col-5 mb-2">Email</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

</div>


<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end me-3 pb-2">
        @if (ViewBag.Tcount > 5)
        {
            @for (int i = 1; i <= (ViewBag.Tcount / 5) + 1; i++)
            {
                <li class="page-item"><div class="page-link" data-id="@ViewBag.dTable" data-page="@(i - 1)">@i</div></li>
            }
        }
    </ul>
</nav>




<script asp-append-version="true">
    $(document).ready(function () {
        $('.page-link').click(function () {
            var id = $(this).data('id');
            var page = $(this).data('page');
            $.ajax({
                url: '/AdminDash/DashbordData',
                method: 'POST',
                data: { id: id, page: page },
                success: function (response) {
                    $("#partial").html(response);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

        $('.ViewCase').click(function () {
            var reqid = $(this).data('reqid');
            $.ajax({
                url: '/AdminDash/ViewCase',
                method: 'POST',
                data: { reqid: reqid },
                success: function (response) {
                    const dashHead = document.querySelector('.dashHead');
                    const dashs = document.querySelector('.DashSearch');
                    dashHead.classList.add('d-none');
                    dashs.classList.add('d-none');
                    $("#partial").html(response);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

        $(document).on('click', '.assignModel', function () {
            $.ajax({
                type: 'GET',
                cache: false,
                processData: false,
                success: function (output) {
                    $('#assign').html(output).modal('show');
                },
                error: function (output) {
                    alert("fail");
                }
            });
        });


        $('.RegOption').blur(function () {
            console.log($(this).attr('data-id'));
            var region = $(this).val();
            console.log(region);
            $.ajax({
                url: '/AdminDash/CheckPhysician',
                method: 'POST',
                data: { region: region },
                success: function (response) {
                    console.log("success");
                    console.log(response);
                    $("#RegOption").empty().append($("<option></option>").val("[-]").html("Select Physician"));
                },
                complete: function (response) {
                    console.log("complete");
                    console.log(response);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

    });
</script>
